# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "cef2e6cbc8969c2baba94aa4ab44665e"
name = "checkout-app-product-bundle"
application_url = "https://shopify.dev/apps/default-app-home"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = ""

[auth]
redirect_urls = [ "https://shopify.dev/apps/default-app-home/api/auth" ]
